{% extends 'base.html.twig' %}
{% block body %} 
	<!-- Top menubar start -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<a class="navbar-brand" title="Bootcards Starter" href="">Bootcards Starter</a>  

			<!--navbar menu options: shown on desktop only -->
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right bootcards-nav-secondary">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle navbar-link" data-toggle="dropdown" role="button" aria-expanded="false">
							<i class="fa fa-globe"></i>
							Languages <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Deutsch</a></li>
							<li><a href="#"><i class="fa fa-fw fa-check pull-right"></i>English</a></li>
							<li><a href="#">Espanol</a></li>
						</ul>
					</li> 
					<li>
						<a href="#">
							<i class="fa fa-fw fa-lock"></i>
							Login
						</a>
					</li>    
				</ul>
				<ul class="nav navbar-nav navbar-right bootcards-nav-primary">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							<i class="fa fa-fw fa-dashboard"></i>
							Home <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><i class="fa fa-fw fa-envelope-o"></i> Action</a></li>
							<li><a href="#"><i class="fa fa-fw fa-film"></i> Another action</a></li>
							<li><a href="#"><i class="fa fa-fw fa-file-o"></i> Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#"><i class="fa fa-fw fa-bar-chart-o"></i> Separated link</a></li>
						</ul>
					</li>
					
					<li>
						<a href="#">
							<i class="fa fa-fw fa-briefcase"></i>
							Portfolio
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-fw fa-bullhorn"></i>
							Blog
						</a>
					</li>
					
				</ul>
			</div>
		</div><!--container-fluid-->
	</div>  <!--navbar--> 
	<!-- Top menubar end -->
	<!-- Application icons start -->
	<div class="panel panel-default bootcards-summary">
		<div class="panel-heading">
			<h3 class="panel-title">Summary Card Heading</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-6 col-sm-4">
					<a class="bootcards-summary-item" href="file_manager.html">
						<i class="fa fa-3x fa-files-o"></i>
						<h4>Files manager<span class="label label-info">65</span></h4>
					</a>
				</div>
				<div class="col-xs-6 col-sm-4">
					<a class="bootcards-summary-item" href="terminal.html">
						<i class="fa fa-3x fa-terminal"></i>
						<h4>Terminal <span class="label label-info">98</span></h4>
					</a>
				</div>
				<div class="col-xs-6 col-sm-4">
					<a class="bootcards-summary-item" href="#">
						<i class="fa fa-3x fa-dashboard"></i>
						<h4>Status <span class="label label-danger">54</span></h4>
					</a>
				</div>
				<div class="col-xs-6 col-sm-4">
					<a class="bootcards-summary-item" href="#">
						<i class="fa fa-3x fa-check-square-o"></i>
						<h4>Services <span class="label label-warning">109</span></h4>
					</a>
				</div>      
			</div>
		</div>
		<div class="panel-footer">
			<small>Built with Bootcards - Summary Card</small>
		</div>
	</div>
	<!-- Applications icon end -->
	<!-- Footer start -->
	<div class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<div class="bootcards-desktop-footer clearfix">
				<p class="pull-left">Created by Artur</p>
			</div>
		</div>
	</div>
{% endblock %}